html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%; 
    text-align: justify;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    background-image: url('Slike/Pozadina(drvo)_body.jpeg');
    overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    background: none;
    background-color: white; 
  }
}

h1, h2 {
  font-family: 'Cormorant Garamond', serif;
}


header {
    position: relative;
    width: 100%;
    height: 330px;
    background-image: url('Slike/Hotel_up_exposure.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

header .naslov h1{
  padding-top: 100px;
  font-size: 80px;
}

header .logo {
    position: absolute;
    top: 3px;
    left: 30px;
    width: 80px;  
    height: auto;
    z-index: 20;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}




.top-nav {
    background-color: #000000;
    overflow: hidden;
    text-align: center; 
    position: relative;
    width: 100%; 
    margin-top: auto;
    height: 250px;
    font-size: 25px;
    z-index: 10;

}

.top-nav a {
    display: inline-block; 
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

.top-nav a:hover {
    background-color: #575757;
}


.left-nav {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #000000;
    padding-top: 280px;
    z-index: 5; 
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}


.left-nav a {
    display: flex;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
}

.left-nav a:hover {
    background-color: #ddd;
}

.content {
    background: linear-gradient(to right, #141b0f, #323513);
    margin-left: 200px; 
    padding: 20px;
    height: auto;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 100px;
    color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);

}
.content .content_margin {
  margin-left: 70px;
}

.index_content h2 {
  align-items: center;
}

.index_content {
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    height: auto;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 50px;
    font-size: 20px;
    background: linear-gradient(to right, #141b0f, #323513);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);

}


.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    margin-left: 0;
    bottom: 0;
    width: 100%;
}

.slika-okvir {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.slika-okvir img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.galerija {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

.galerija img {
    width: 44%; 
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 300px;
    max-width: 300px;
}

.galerija img:hover {
    transform: scale(1.1); 
}


@media (max-width: 768px) {
    .galerija img {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .galerija img {
        width: 90%;
    }
}

.pdf-okvir {
    align-items: center;
    width: 1050px; 
    height: 900px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
  }
  
  .pdf-okvir iframe {
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
  }

  .galerija_sport {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.galerija_sport img {
    width: 22%; 
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 300px;
    max-width: 300px;
}

.galerija_sport img:hover {
    transform: scale(1.1); 
}


@media (max-width: 768px) {
    .galerija_sport img {
        width: 45%;
    }
}


@media (max-width: 480px) {
    .galerija_sport img {
        width: 90%;
    }
}

.rezervacija-forma {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
  }
  
.rez_rec{
  background: linear-gradient(to left, #422b1d, #323513);
}

  .rezervacija-forma h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .rezervacija-forma label {
    display: block;
    margin: 12px 0 6px;
    color: #ffffff;
  }
  
  .rezervacija-forma input,
  .rezervacija-forma select,
  .rezervacija-forma textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border:#030303;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  .rezerviraj-gumb {
    display: inline-block;
    padding: 12px 24px;
    background-color: #1f1b1b;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 20px 0;
}

.rezerviraj-gumb:hover {
    background-color: #575757;
}

  
  .rezervacija-forma button:hover {
    background-color: #575757;
  }

  
  .galerija_index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

.galerija_index img {
    width: 44%; 
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 700px;
    max-width: 700px;
}

.galerija_index img:hover {
    transform: scale(1.1); 
}


@media (max-width: 780px) {
    .galerija_index img {
        width: 45%;
    }
}


@media (max-width: 500px) {
    .galerija_index img {
        width: 90%;
    }
}

.slika-kartica {
  margin: 40px auto;
  max-width: 800px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.slika-kartica.visible {
  opacity: 1;
  transform: translateY(0);
}

.slika-kartica img {
  width: 100%;
  display: block;
}

.prikrij-tekst {
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 2;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.slika-kartica.visible .prikrij-tekst {
  opacity: 0;
}
 
@media (max-width: 1024px) {
  .left-nav {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    border-right: none;
  }

  .content {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .top-nav a,
  .left-nav a {
    font-size: 14px;
    padding: 10px;
  }

  .galerija img {
    width: 90%;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  .logo {
    width: 80px;
    top: 10px;
    right: 20px;
  }

  .left-nav {
    display: none;
  }
  .top-nav .logo{
    display: none;
  }

  body {
    background: none;
    background-color: #ffffff;
  }

  .content_margin{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .galerija img {
    width: 100%;
  }
  
  header .naslov h1{
    font-size: 40px;
  }
  
  header{
    height: 265px;
  }

  .footer{
    font-size: 15px;
  }

  .rezerviraj-gumb {
    width: 50%;
    font-size: 14px;
  }

  .left-nav {
    display: none;
  }
  .top-nav .logo{
    display: none;
  }

  .index_content{
    font-size: 15px;
    max-width: 480px;
    margin-left: 0px;
    margin-right: 0px;
  }

  body {
    background: none;
    background-color: #ffffff;
  }

  .content{
    align-items: center;
    font-size: 15px;
    align-items: center;
  }

  .content_margin{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .pdf-okvir {
    width: 200px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-left: 0px;
  }

  .rezerviraj-gumb:hover{
    width: 50px;
  }
}
